{% extends 'core/base.html' %}
{% block title %}
MySkills

{% endblock title%}
{% block content %}

<div class="container mt-5">
    <h1 class="text-warning md-5 border-bottom"> SKILLS </h1>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5"> PYTHON </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                     style="width:100%" area-valuenow="100"
                     area-volumein="0" area-volumemax="100">Advance

                </div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5"> DJANGO </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                     area-valuenow="30" area-volumein="0" area-volumemax="30" style="width:50%">Intermediate

                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class="mt-5"> MYSQL </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                     area-valuenow="30" area-volumein="0" area-volumemax="30" style="width:60%">Intermediate

                </div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5"> REST-API </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                     area-valuenow="30" area-volumein="0" area-volumemax="30" style="width:30%">Beginner
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <h3 class="mt-5"> HTML-CSS </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                     style="width:100%" area-valuenow="100" area-volumein="0" area-volumemax="100">Advance

                </div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5"> JAVASCRIPT </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                     area-valuenow="30" area-volumein="0" area-volumemax="30" style="width:60%"> Intermediate

                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <h3 class="mt-5"> DEBUGGING & TESTING </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                     area-valuenow="30" area-volumein="0" area-volumemax="30" style="width:30%"> Intermediate
                </div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5"> PROBLEM SOLVING </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                     area-valuenow="30" area-volumein="0" area-volumemax="30" style="width:30%"> Intermediate
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}